Adafruit-Blinka==9.0.4
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.16
adafruit-circuitpython-connectionmanager==3.1.7
adafruit-circuitpython-requests==4.1.16
adafruit-circuitpython-rfm9x==2.2.23
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
lgpio==0.2.2.0
packaging==26.0
pycryptodome==3.23.0
pyftdi==0.57.1
pyserial==3.5
pyusb==1.3.1
rpi-lgpio==0.6
rpi_ws281x==5.0.0
spidev==3.8
sysv_ipc==1.2.0
typing_extensions==4.15.0
